In [2]:
print("Hello, World!")     # Output: Hello, World!
print('Welcome to Python') # Strings in quotes

name = "Chaitanya"
age = 21
is_active = True
print(name, age, is_active)

user_name = input("Enter your name: ")
print("Hello", user_name)

print(type(name))  # <class 'str'>
print(type(age))   # <class 'int'>

print(f"My name is {name} and I am {age} years old.")

Hello, World!
Welcome to Python
Chaitanya 21 True
Enter your name: Kevin
Hello Kevin
<class 'str'>
<class 'int'>
My name is Chaitanya and I am 21 years old.

In [3]:
# Print your name, age, and city in one line using f-string.
name = "Chaitanya"
age = 23
city = "Mumbai"

print(f"My name is {name}. I am {age} years old and I live in {city}.")

My name is Chaitanya. I am 23 years old and I live in Mumbai.

In [4]:
# Take user input for two numbers and print their sum.
a = int(input("Enter number 1 :"))
b = int(input("Enter number 1 :"))
sum = (a+b)
print(f"The sum of {a} and {b} is {sum}")

Enter number 1 :24
Enter number 1 :48
The sum of 24 and 48 is 72

In [5]:
# Print “Hello” 5 times using different print statements.
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello